<div class="section-inner sectionLayout--insetColumn"><h1 name="561b" id="561b"
                                                          class="graf graf--h3 graf--leading graf--title">RxJS: Don’t
    Unsubscribe</h1>
    <div class="uiScale uiScale-ui--regular uiScale-caption--regular u-flexCenter u-marginVertical24 u-fontSize15 js-postMetaLockup">
        <div class="u-flex0"><a class="link u-baseColor--link avatar"
                                href="https://medium.com/@benlesh?source=post_header_lockup"
                                data-action="show-user-card" data-action-source="post_header_lockup"
                                data-action-value="da6839d28258" data-action-type="hover" data-user-id="da6839d28258"
                                dir="auto"><img
                src="https://cdn-images-1.medium.com/fit/c/50/50/1*VZq_2zYok1sdOdgysqdhDg.jpeg"
                class="avatar-image u-size50x50" alt="Go to the profile of Ben Lesh"></a></div>
        <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
            <div class="u-paddingBottom3"><a
                    class="ds-link ds-link--styleSubtle ui-captionStrong u-inlineBlock link link--darken link--darker"
                    href="https://medium.com/@benlesh" data-action="show-user-card" data-action-value="da6839d28258"
                    data-action-type="hover" data-user-id="da6839d28258" dir="auto">Ben Lesh</a><span
                    class="followState js-followState" data-user-id="da6839d28258"><button
                    class="button button--smallest u-noUserSelect button--withChrome u-baseColor--buttonNormal button--withHover button--unblock js-unblockButton u-marginLeft10 u-xs-hide"
                    data-action="toggle-block-user" data-action-value="da6839d28258"
                    data-action-source="post_header_lockup"><span
                    class="button-label  button-defaultState">Blocked</span><span
                    class="button-label button-hoverState">Unblock</span></button><button
                    class="button button--primary button--smallest button--dark u-noUserSelect button--withChrome u-accentColor--buttonDark button--follow js-followButton u-marginLeft10 u-xs-hide"
                    data-action="toggle-subscribe-user" data-action-value="da6839d28258"
                    data-action-source="post_header_lockup-da6839d28258-------------------------follow_byline"
                    data-subscribe-source="post_header_lockup" data-follow-context-entity-id="6753ed4fda87"><span
                    class="button-label  button-defaultState js-buttonLabel">Follow</span><span
                    class="button-label button-activeState">Following</span></button></span></div>
            <div class="ui-caption u-noWrapWithEllipsis js-testPostMetaInlineSupplemental">
                <time datetime="2016-07-27T18:52:39.051Z">Jul 27, 2016</time>
                <span class="middotDivider u-fontSize12"></span><span class="readingTime" title="4 min read"></span>
            </div>
        </div>
    </div>
    <p name="d434" id="d434" class="graf graf--p graf-after--h3">Well… okay, just don’t unsubscribe quite so much.</p>
    <p name="487e" id="487e" class="graf graf--p graf-after--p">I’m often enlisted to help someone debug an issue with
        their RxJS code or figure out how to structure an app that is composing a lot of async with RxJS. When doing so,
        I generally see the same thing pop up over and over again, people keeping handles to tons and tons of
        subscription objects. Developers will invariably make 3 HTTP requests with an Observable, and then keep 3
        subscription objects that they’re going to call when some event occurs.</p>
    <p name="414f" id="414f" class="graf graf--p graf-after--p">I can see how it would happen. People are used to using
        `addEventListener` N times, and then having some clean up where they have to call `removeEventListener` N times.
        It feels natural to do the same with subscription objects, and for the most part you’re right. But there are
        better ways. <span class="markup--quote markup--p-quote is-other" name="anon_ddcf1e28f9bf"
                           data-creator-ids="anon">Keeping too many subscription objects around is a sign you’re managing your subscriptions imperatively, and not taking advantage of the power of Rx.</span>
    </p><h4 name="f074" id="f074" class="graf graf--h4 graf-after--p">What imperative subscription management looks&nbsp;like</h4>
    <p name="034a" id="034a" class="graf graf--p graf-after--h4">Take for example this make-believe component (I’ll
        purposely make this non-React and non-Angular and somewhat generic):</p>
    <figure name="abf1" id="abf1" class="graf graf--figure graf--iframe graf-after--p">
        <div class="aspectRatioPlaceholder is-locked">
            <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 105.857%;"></div>
            <div class="iframeContainer">
                <iframe width="700" height="250" src="/media/e4547368e34611a47ac1ff5b638de58c?postId=6753ed4fda87"
                        data-media-id="e4547368e34611a47ac1ff5b638de58c" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>
    </figure>
    <p name="32f7" id="32f7" class="graf graf--p graf-after--figure">In the example above, you can see I’m manually
        calling `unsubscribe` on three subscription objects I’m managing myself in the `onUnmount()` method. I’m also
        calling `this.dataSub.unsubscribe()` when someone clicks the cancel button on line #15, and again on line #22
        when the user sets the range selector above 500, which is some threshold at which I want to stop the data
        stream. (I don’t know why, it’s a weird component)</p>
    <p name="ea8b" id="ea8b" class="graf graf--p graf-after--p">The ugliness here is I’m imperatively managing
        unsubscriptions in multiple places in this fairly trivial example.</p>
    <p name="3f9c" id="3f9c" class="graf graf--p graf-after--p">The only real advantage to using this approach would be
        performance. Since you’re using fewer abstractions to get the job done, it’s likely to perform a little better.
        This is unlikely to have a noticeable effect in the majority of web applications however, and I don’t think it’s
        worth worrying about.</p>
    <p name="8b95" id="8b95" class="graf graf--p graf-after--p">Alternatively, you can always combine subscriptions into
        a single subscription by creating a parent subscription and adding all of the others like children. But at the
        end of the day, you’re still doing the same thing, and you’re probably missing out.</p><h4 name="d28a" id="d28a"
                                                                                                   class="graf graf--h4 graf-after--p">
        Compose your subscription management with takeUntil</h4>
    <p name="d272" id="d272" class="graf graf--p graf-after--h4">Now let’s do the same basic example, only we’ll use the
        `takeUntil` operator from RxJS:</p>
    <figure name="69fe" id="69fe" class="graf graf--figure graf--iframe graf-after--p">
        <div class="aspectRatioPlaceholder is-locked">
            <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 68.143%;"></div>
            <div class="progressiveMedia js-progressiveMedia is-canvasLoaded is-imageLoaded" data-scroll="native"><img
                    src="https://i.embed.ly/1/display/resize?url=https%3A%2F%2Favatars0.githubusercontent.com%2Fu%2F1540597%3Fv%3D3%26s%3D400&amp;key=4fce0568f2ce49e8b54624ef71a8a5bd&amp;width=40"
                    crossorigin="anonymous" class="progressiveMedia-thumbnail js-progressiveMedia-thumbnail">
                <canvas class="progressiveMedia-canvas js-progressiveMedia-canvas" width="75" height="75"></canvas>
                <div class="iframeContainer">
                    <iframe width="700" height="250"
                            data-src="/media/5800aa60287f546f83650ef5313f2a38?postId=6753ed4fda87"
                            data-media-id="5800aa60287f546f83650ef5313f2a38"
                            data-thumbnail="https://i.embed.ly/1/image?url=https%3A%2F%2Favatars0.githubusercontent.com%2Fu%2F1540597%3Fv%3D3%26s%3D400&amp;key=4fce0568f2ce49e8b54624ef71a8a5bd"
                            class="progressiveMedia-iframe js-progressiveMedia-iframe" allowfullscreen=""
                            frameborder="0" src="/media/5800aa60287f546f83650ef5313f2a38?postId=6753ed4fda87"></iframe>
                </div>
                <noscript class="js-progressiveMedia-inner">
                    <div class="iframeContainer">
                        <IFRAME width="700" height="250"
                                src="/media/5800aa60287f546f83650ef5313f2a38?postId=6753ed4fda87"
                                data-media-id="5800aa60287f546f83650ef5313f2a38"
                                data-thumbnail="https://i.embed.ly/1/image?url=https%3A%2F%2Favatars0.githubusercontent.com%2Fu%2F1540597%3Fv%3D3%26s%3D400&amp;key=4fce0568f2ce49e8b54624ef71a8a5bd"
                                allowfullscreen frameborder="0"></IFRAME>
                    </div>
                </noscript>
            </div>
        </div>
    </figure>
    <p name="0bd1" id="0bd1" class="graf graf--p graf-after--figure">The first thing you might notice is it’s less code.
        That’s just one benefit. Another thing that’s happened here is I have composed a stream of `stop$` events that
        kill the data stream. That means when I decide I want to add another condition to kill the data stream, like say
        a timer, I can simply merge a new observable into `stop$`. Another thing that is readily apparent is I only have
        one subscription object that I’m managing imperatively. There’s no way around this, because this is where your
        functional programming is meeting your object-oriented world. JavaScript is an imperative language after all,
        and we have to meet the rest of the world half way at some point.</p>
    <p name="3965" id="3965" class="graf graf--p graf-after--p">Another advantage to this approach is it actually <em
            class="markup--em markup--p-em">completes</em> the observable. That means there’s a completion event that
        can be handled anytime you want to kill your observable. If you just call `unsubscribe` on a returned
        subscription object, there’s no way you’ll be notified that the unsubscription happened. However if you use
        `takeUntil` (or others listed below), you will be notified the observable has stopped via your completion
        handler.</p>
    <p name="63ad" id="63ad" class="graf graf--p graf-after--p">The last advantage I’ll point out is the fact that
        you’re actually “wiring everything up” by calling `subscribe` in <em class="markup--em markup--p-em">one
            place, </em>this is advantageous because with discipline it becomes much, much easier to locate where you’re
        starting your subscriptions in your code. Remember, observables don’t do anything until you subscribe to them,
        so the point of subscription is an important piece of code.</p>
    <p name="ec3d" id="ec3d" class="graf graf--p graf-after--p">There is one disadvantage here in terms of RxJS
        semantics, but it’s barely worth worrying about in the face of the other advantages. The semantic disadvantage
        is that completing an observable is a sign that the producer wants to tell the consumer it’s done, where
        unsubscribing is the consumer telling the producer it no longer cares about the data.</p>
    <p name="588d" id="588d" class="graf graf--p graf-after--p">There will also be a very slight performance difference
        between this and just calling `unsubscribe` imperatively. However, it’s unlikely that the perf hit will be
        anything noticeable in the mass-majority of applications.</p><h4 name="3353" id="3353"
                                                                         class="graf graf--h4 graf-after--p">Other
        operators</h4>
    <p name="f5fb" id="f5fb" class="graf graf--p graf-after--h4">There are many other ways to kill a stream in a more
        “Rx-y” way. I’d recommend checking out the following operators at the very least:</p>
    <ul class="postList">
        <li name="8185" id="8185" class="graf graf--li graf-after--p">take(n): emits N values before stopping the
            observable.
        </li>
        <li name="ae33" id="ae33" class="graf graf--li graf-after--li">takeWhile(predicate): tests the emitted values
            against a predicate, if it returns `false`, it will complete.
        </li>
        <li name="c152" id="c152" class="graf graf--li graf-after--li">first(): emits the first value and completes.
        </li>
        <li name="93a4" id="93a4" class="graf graf--li graf-after--li">first(predicate): checks each value against a
            predicate function, if it returns `true`, the emits that value and completes.
        </li>
    </ul>
    <h4 name="f376" id="f376" class="graf graf--h4 graf-after--li">Summary: Use takeUntil, takeWhile, et&nbsp;al.</h4>
    <p name="e232" id="e232" class="graf graf--p graf-after--h4">You should probably be using operators like `takeUntil`
        to manage your RxJS subscriptions. As a rule of thumb, if you see two or more subscriptions being managed in a
        single component, you should wonder if you could be composing those better.</p>
    <ul class="postList">
        <li name="d075" id="d075" class="graf graf--li graf-after--p">more composeable</li>
        <li name="5c1b" id="5c1b" class="graf graf--li graf-after--li">fires a completion event when you kill your
            stream
        </li>
        <li name="b41d" id="b41d" class="graf graf--li graf-after--li">generally less code</li>
        <li name="0f49" id="0f49" class="graf graf--li graf-after--li">less to manage</li>
        <li name="5463" id="5463" class="graf graf--li graf-after--li">fewer actual points of subscription (because
            fewer calls to `subscribe`)
        </li>
    </ul>
    <p name="ed8e" id="ed8e" class="graf graf--p graf-after--li graf--trailing">Want to learn more about RxJS from me?
        Checkout <a href="http://rxworkshop.com" data-href="http://rxworkshop.com"
                    class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">rxworkshop.com</a>!
    </p>
</div>
