/* You can add global styles to this file, and also import other style files */
app-root,app-trans-original{
  display:block;
}

.trans-wrapper{
  display: flex;
  flex-wrap: wrap;
}

// .trans-block{
//   flex: 1;
// }

.trans-content-block{
  width:50%;
      max-height: 300px ;
    overflow-x: scroll;
}

.trans-mouse-enter,
.trans-selected{
  border: 1px solid #99f;
}

.trans-selected{
  background-color: #ddf;
}

.trans-original-wrapper{

padding:3px;
border:1px solid #999;


}

.trans-edit-wrapper{
  width:100%;

  .trans-edit{
    display:flex
  }

  .trans-edit-original-view,.trans-edit-translated-edit{
    width: 50%;
  }

  .trans-edit-translated-edit{
    textarea{
      width:100%;
    }
  }
}
